In [8]:
# Tuplas
    # Criando tuplas
tupla_numeros = (10,20,30)
tupla_numeros

(10, 20, 30)

In [9]:
# Forma distinta tupla
tupla_nova = 10,20,30
tupla_nova

(10, 20, 30)

In [10]:
# Tupla elemento único
tupla_elemento = 10,
tupla_elemento

(10,)

In [12]:
# Tupla vazia
tupla_vazia = ()
tupla_vazia

()

In [13]:
# Função tuple
nova_tupla = tuple('Teste')
nova_tupla

('T', 'e', 's', 't', 'e')

In [17]:
# Contando elementos tupla
tupla_nomes = ('Marlene','Zezinho','Marlene','Cibele','Zuely')
print(tupla_nomes.count('Marlene'))
print(tupla_nomes.count('Suely'))
print(tupla_nomes.count('Zezinho'))

2
0
1

In [18]:
# Prática tupla 
    # 1
pratice_tuple = 1,2,2,3,4,4,4,5
print(pratice_tuple.count(4))

3

In [19]:
# Dicionário
    # 1A)
dicio = {'chave':'valor'}
print(type(dicio))

<class 'dict'>

In [26]:
# 1B)
d = {'laranjas':15, 'bananas':35, 'siriguelas':12}
d['bananas']

35

In [28]:
#  Adicionando um novo par no Dict 
d['pitomba'] = 20
print(len(d))

4

In [29]:
# 1C)
'pitomba' in d

True

In [30]:
# 1D)
'pera' in d

False

In [31]:
# 1F)
del d['laranjas']

In [32]:
'laranjas' in d

False

In [38]:
# Concantenação e Repetiçao
frutas = ['pinha', 'oiti coró','jaca', 'tamarindo']
print([1,2]+[3,4])
print(frutas + [6,7,8,9])
print([0]*4)
print([1,2,['oi','tchau']]*2)

[1, 2, 3, 4]
['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]
[0, 0, 0, 0]
[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]

[0, 0, 0, 0]